/* Poppins font */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;900&display=swap');
/* shared style */
*{
  margin: 0;
  padding: 0;
}
*{
   font-family: "Poppins",sans-serif;
 }
 .btn-primary{
border-radius: 41px;
background: rgb(224, 44, 109);
color: rgb(255, 255, 255);
font-family: Poppins;
font-size: 1rem;
font-weight: 700;
padding: 10px 20px;
border: none;
margin-top: 10px;
 }
 .btn-primary:hover{
  cursor: pointer;
  background: rgba(224, 44, 110, 0.959);
 }
/* header related styles */
header{
  padding: 50px 140px;
}

 /* nav related styles */
 nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
 }
 nav > ul {
  display: flex;
 }
 nav li{
  list-style: none;
  margin-right: 30px;
  font-weight: 600;
  font-size: 1rem;
 }
 nav li a{
  text-decoration: none;
  color: rgb(58, 58, 58);
 }
 .nav-title{
  color: rgb(58, 58, 58);
font-size:1.5rem;
font-weight: 700;
 }
 /* banner related styles */
 .banner{
  display: flex;
  align-items: center;
  /* margin-top: 100px; */
  background-image: url('../images/Circle\ design.svg');
  background-repeat: no-repeat;
  background-position:  bottom right,top left;
 }

 .banner-title{
color: rgb(58, 58, 58);
font-size: 3.25rem;
font-weight: 700;
 }
 .banner-description{
  color: rgb(58, 58, 58);
font-size: 1rem;
font-weight: 600;
 }
 .banner img{
  width: 50%;
  gap: 130px;
 }

 /* main section */
 main{
  max-width: 1110px;
  margin: 0 auto;
 }

 .sponsor{
  display: flex;
  justify-content: space-evenly;
 }
 .Collection-title{
text-align: center;
color: rgb(58, 58, 58);
font-size:1.75rem;
font-weight: 600;
margin-top: 100px;
margin-bottom: 30px;
 }
 .camera-collection{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 30px;
 }
 .card{
border-radius: 5px;
box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
background: rgb(255, 255, 255);
padding: 17px;
 }
 .card .card-title{
color: rgb(24, 25, 31);
font-size: 1.75rem;
font-weight: 500;
 }
.card .price{
color: rgba(0, 0, 0, 0.87);
font-size: 1.5rem;
font-weight: 400;
font-family: Inter;

}
.card .card-description{
  color: rgb(120, 120, 133);
font-family: Inter;
font-size: 14px;
font-weight: 700;
margin-top: 10px;
}





 /* responsive media quary */
 /* Mobile devices */
 @media screen and (max-width:576px) {
 header{
  padding: 5px 100px;
}
  nav{
    flex-direction: column;
  }
  .banner{
    flex-direction: column-reverse;
    align-items: center;
  }
  
  .banner img{
    width: 100%;
  }
  .camera-collection{
    grid-template-columns: repeat(1,1fr);
    text-align: center;
    
  }
  
 }
